---
import Layout from "../layouts/Layout.astro";
import Navbar from "../sections/Navbar.astro";
import Hero from "../sections/Hero.astro";
import Carrosel from "../sections/Carrosel.astro";
import Carrosel2 from "../sections/Carrosel2.astro";
import Collections from "../sections/Collections.astro";
import Banner from "../sections/Banner.astro";
import Brands from "../sections/Brands.astro";
import BannerCollections from "../sections/BannerCollections.astro";
import Footer from "../sections/Footer.astro";
import Comments from "../sections/Comments.astro";
---

<Layout
  title="The Cream Shop"
  description="Cream Shop paginas que puede comprar zapatillas modernas"
>
  <main class="flex flex-col gap-10 lg:gap-20">
    <Navbar />
    <Hero />
    <Carrosel />
    <Collections />
    <Banner />
    <Brands />
    <Banner />
    <Carrosel2 />
    <Comments />
    <BannerCollections />
    <Footer />
  </main>
</Layout>
