---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Productos" description="Detalles del producto en Cream Shop">
  <main class="flex flex-col gap-10 lg:gap-20">
    <div class="collections">
      <h1>Productos</h1>
    </div>
  </main>
</Layout>