<div class="w-11/12 mx-auto">
    <div class="relative w-full bg-secundary-green rounded-2xl pt-28 pb-5 lg:pb-10 px-5 lg:px-20 gap-28  px-16px
    flex flex-col text-white">
        <span class="absolute top-[10px] lg:top-[40px] left-[15px] lg:left-[80px] 
            text-4xl lg:text-7xl">
            ✦
        </span>
        <span class="absolute top-[20px] lg:top-[40px] right-[20px] lg:right-[80px]  
            text-sm lg:text-base">
            * Ver todo 
        </span>
        <h3 class="text-center text-4xl lg:text-7xl font-bold font-black-han-sans tracking-widest">
            NUEVA COLLECION
        </h3>
        <p class="text-sm lg:text-base">
            Busca la cual es tu favorita <br>
            para combinar
        </p>
    </div>
</div>