---
import AirJordanRetro4 from '../assets/img-collections/air-jordan-retro-4.webp'
import Aj4 from '../assets/img-collections/aj4.webp'
import NikeAirForce from '../assets/img-collections/nike-air-force.webp'
import NikeAirForce1MidOffWhite from '../assets/img-collections/nike-air-force-1-mid-off-white.webp'
import NikeSbApril from '../assets/img-collections/nike-sb-april.webp'
import NikeAirForceBlack from '../assets/img-collections/nike-air-force-black.webp'

const COLLECTIONS = [
    {
        'name': 'Air Jordan Retro 4',
        'img': AirJordanRetro4.src,
    },
    {
        'name': 'AJ4',
        'img': Aj4.src,
    },
    {
        'name': 'Nike Air Force',
        'img': NikeAirForce.src,
    },
    {
        'name': 'Nike Air Force 1 Mid Off White',
        'img': NikeAirForce1MidOffWhite.src,
    },
    {
        'name': 'Nike SB April',
        'img': NikeSbApril.src,
    },
    {
        'name': 'Nike Air Force Black',
        'img': NikeAirForceBlack.src,
    }
];

---
{
    COLLECTIONS.map((collection) => {
        return (
            <div class="">
                <a href={'product/' + collection.name.toLowerCase().replace(/\s+/g, '-')}>
                    <img src={collection.img} alt="collection" class="w-full h-full object-cover shadow-lg rounded-3xl"/>
                </a>
            </div>
        )
    })
}