---
import Image from "astro/components/Image.astro"
---

<section>
    <div class="bg-[url('./src/assets/banner-collection.webp')] bg-no-repeat bg-cover bg-center
        h-[600px] w-full flex flex-col items-center justify-center text-center gap-10 px-8">
        <h2 class="text-white text-3xl lg:text-4xl uppercase font-bold">
            Calidad y sostenibilidad nuestras principales <br> prioridades en nuestro sitio web</h2>
        <a href=""
            class="bg-primary-red text-white text-sm lg:text-base px-10 py-5 rounded-xl font-semibold">VER COLECCIONES</a>
    </div> 
</section>