<section class="border-y border-pribg-primary-red bg-primary-red py-5">
    <div class="carousel">
        <div class="carousel-wrapper uppercase font-semibold text-white text-2xl flex">
            <div class="carousel-item">A LA MODA <span class="mx-10 text-4xl">✦</span></div>
            <div class="carousel-item">NUEVA COLECCION  <span class="mx-10 text-4xl">✦</span></div>
            <div class="carousel-item">TENDENCIA <span class="mx-10 text-4xl">✦</span></div>
            <div class="carousel-item">A LA MODA <span class="mx-10 text-4xl">✦</span></div>
            <div class="carousel-item">NUEVA COLECCION  <span class="mx-10 text-4xl">✦</span></div>
            <div class="carousel-item">TENDENCIA <span class="mx-10 text-4xl">✦</span></div>
            <div class="carousel-item">A LA MODA <span class="mx-10 text-4xl">✦</span></div>
            <div class="carousel-item">NUEVA COLECCION  <span class="mx-10 text-4xl">✦</span></div>
            <div class="carousel-item">TENDENCIA <span class="mx-10 text-4xl">✦</span></div>
        </div>
    </div>
</section>

<style>
    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .carousel-wrapper {
        width: 100%;
        animation: 13.7787s linear 0s infinite normal none running marqueeAnimation2;
    }

    .carousel-item {
        transform: translateX(-1000px);
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        height: auto;
    }

    @keyframes marqueeAnimation2 {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(790px);
        }
    }
</style>