---
import CardCollection from "../components/CardCollection.astro"
---

<section class="w-11/12 mx-auto flex flex-col gap-5 lg:gap-8">
    <h1 class="text-[45px] lg:text-8xl lg:text-start font-bold font-black-han-sans text-center">
        LAS COLECCIONES*
    </h1>
    <p class="text-base text-neutral-gray">
        Descubre nuestras colecciones, inspiradas en los motivos más elegantes y diseñadas por 
        profesionales de la moda para resaltar tu estilo único.
    </p>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10">
        <CardCollection/>
    </div>
</section>