---
import Image from "astro/components/Image.astro";
import LogoTheCreamShop from "../assets/logo-thecreamshop.webp";
---

<footer class="w-11/12 m-auto flex flex-col gap-10 py-10">
  <div>
    <ul class="flex flex-col lg:flex-row gap-14 items-center justify-center">
      <li><a href="#"><span>Inicio</span></a></li>
      <li><a href="#"><span>Productos</span></a></li>
      <li><a href="#"><span>Blog</span></a></li>
      <li><a href="#"><span>Contacto</span></a></li>
    </ul>
  </div>
  <hr class="w-full h-1 border-x-neutral-700" />
  <div class="w-full flex flex-col lg:flex-row items-center justify-between gap-10">
    <div class="w-40 h-40">
      <Image
        src={LogoTheCreamShop}
        alt="The Cream Shop"
        class="w-full"
        format="webp"
        loading={"eager"}
      />
    </div>
    <div class="text-center lg:text-start lg:w-2/4">
      <span>
        En creamIce, nuestra pasión por la moda comenzó con una simple idea:
        crear prendas que combinen estilo y comodidad sin comprometer la
        calidad. Fundada en 2015 por un grupo de amigos apasionados por el
        diseño, creamIce ha crecido hasta convertirse en una marca reconocida
        por su atención al detalle y su compromiso con la innovación.
      </span>
    </div>
  </div>
  <hr class="w-full h-1 border-x-neutral-700" />
  <div class="w-full flex flex-col lg:flex-row items-center justify-between gap-8">
    <div>
      <span>© The Cream Shop 2022 | <a href="https://umbrellacode.site/">Umbrella Code</a></span>
    </div>
    <div>
      <span class="text-4xl flex gap-5">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-whatsapp"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
      </span>
    </div>
  </div>
</footer>
