---
import HeroZap from '../assets/img-hero/hero-zap.webp'
---

<section class="w-11/12 mx-auto flex flex-col gap-5 lg:gap-10">
    <div>
        <div>
            <h1 class="text-[45px] lg:text-9xl font-bold font-black-han-sans text-center
                lg:text-start">
            SIGUE TOP CON
            </h1>
        </div>
        <div class="grid grid-rows-2 lg:grid-rows-none items-center lg:grid-cols-3 gap-5 lg:gap-0">
            <div class="lg:col-span-2">
                <h1 class="text-5xl lg:text-9xl *:font-bold font-black-han-sans text-center
                    lg:text-start">
                    LA MODA *
                </h1>
            </div>
            <div class="lg:col-span-1">
                <h3 class="font-poppins text-xm lg:text-4xl text-center lg:text-start">
                    ¡Nuevas colecciones! <br>
                    ¡Nuevas colecciones!
                </h3>
            </div>
        </div>
    </div>

    <div class="grid grid-rows-2 lg:grid-rows-none lg:grid-cols-5 gap-5 lg:gap-10 h-[500px]">
        <div class="bg-secundary-green col-span-3 rounded-3xl flex items-center justify-center shadow-lg relative">
            <img class="absolute" src={HeroZap.src} alt="Moda">
        </div>
        <div class="col-span-3 lg:col-span-2 grid max-sm:grid-cols-2 lg:grid-rows-2 gap-5 lg:gap-10">
            <div class="bg-[url('/img/kit-limpieza.webp')] bg-no-repeat bg-cover bg-center w-full group shadow-lg rounded-3xl">
                <a class="hidden
                    group-hover:flex w-full h-full items-center justify-center 
                    text-neutral-white bg-[#0d0d0d70] font-bold font-poppins text-base rounded-3xl"
                    href="#">
                    Ver producto
                </a>
            </div>
            <div class="bg-[url('/img/caja-acrilica.webp')] bg-no-repeat bg-cover bg-center w-full group shadow-lg rounded-3xl">
                <a class="hidden 
                    group-hover:flex w-full h-full items-center justify-center 
                    text-neutral-white bg-[#0d0d0d70] font-bold font-poppins lg:text-3xl text-base rounded-3xl"
                    href="#">
                    Ver producto
                </a>
            </div>
        </div>
    </div>
</section>